.photo-grid {
  margin: 0 auto;
  padding-bottom: 92px;
}
@media screen and (max-width: 960px) {
  .photo-grid {
    padding-bottom: 64px;
    padding-left: 3.1%;
    padding-right: 3.1%;
  }
}
@media screen and (max-width: 540px) {
  .photo-grid {
    padding-left: 5%;
    padding-right: 5%;
  }
}