.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .footer__links {
        min-height: 272px;
        flex-direction: column;
        align-content: space-between;
        padding-bottom: 48px;
    }
    .footer__links:last-of-type {
        padding-bottom: 0px;
    }
  }